@import "~antd/dist/antd.css";

.contentStyle {
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

.m-card {
  margin: 20px 50px;
}
.p-intro {
  text-align: center;
  font-size: 1.5rem;
  font-family: Catamaran, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-size: cover;
  margin: 0;
  padding: 0 20px;
}
.button {
  margin: 50px auto;
  display: block;
  font-size: 1rem;
  border-radius: 10px;
}
.bg-intro {
  background-color: #fff;
  border-radius: 20px;
  margin: 50px auto;
  padding: 10px;
}
.footer {
  font-weight: 3rem;
  color: black;
  text-align: center;
  margin: 10px auto;
}
